a {
  text-decoration: none;
  color: inherit;
  transition: color var(--anima-02);
}
h1,
h2,
h3,
h4,
h5 {
  font-weight: 600;
  line-height: 1.2;
}

input,
button,
textarea,
select {
  font-family: inherit;
}
